@(album: Album)(implicit flash: Flash, request: RequestHeader))
@import helper._

@main(s"Usuwanie albumu: ${album.title}", None, flash.get("error"), Some(album.artist), Some(album)) {
<div class="message-box">
    <h2>Czy na pewno usunąć @album.title z @album.releaseYear?</h2>
    <form action="@routes.AlbumsController.delete(album.id)" method="POST" class="inline">
        @CSRF.formField        
        <input type="submit" class="default danger" value="Tak" />
    </form>
    <a href="@routes.AlbumsController.list(None)"><button class="default">Nie</button></a>
</div>
}